<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="windows-pageckage-manager,scoop,windows,installer,package-manager">
    <meta name="description" content="scoop software package find">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <link rel="icon" href="https://avatars0.githubusercontent.com/u/43713756">
    <title>Scoop Apps</title>

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>-->

    <link rel="stylesheet" href="resource/css/loading.css">
    <link rel="stylesheet" href="resource/css/style.css">
    <link rel="stylesheet" href="resource/css/bg_style.css">
    <script src="resource/js/helper.js"></script>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?9fc9fbaf6033e662ed8cbda0dba1c029";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<canvas id="c"></canvas>
<div class="actGotop" style="cursor: pointer;" title="Click me or press the space bar to return to the top"><img src="http://www.jq22.com/demo/jquery-top20161222/img/huojian.svg" alt="Back to top"></div>

<section id="container" class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed">
        <div class="aui-center" style="margin-left: 3rem;">
            <span class="aui-center-title" style="cursor:pointer;" onclick="location.reload();">Eoogo</span>
            <ul class="aui-title-coll">
                <li><a href="javascript:;" onclick="layer.alert(`# Copy the following code into your terminal<br><br>
# Execute using powershell (enter [A] for prompt)<br>
Set-ExecutionPolicy RemoteSigned -scope CurrentUser<br>
iwr -useb scoop.ccheng.live/is.ps1 | iex<br><br>`, {title: false, btn: ['Install via script', 'Cancel'], shadeClose: true, closeBtn: false}, () => {location = 'is.ps1';layer.msg('Right click after the download is complete');});">Install scoop</a></li>
                <li style="cursor: pointer;" onclick="localStorage.clear();layer.msg('Clean up completed, waiting for reload...', {}, () => location.reload());">Clear cache</li>
                <li><a href="mailto:1434389213@qq.com?subject=From%20scoop%20apps%20-%20">Send feedback</a></li>
                <li><a href="https://scoop-docs.now.sh" target="_blank">Official support</a></li>
                <li><a href="https://github.com/eoogo/scoop-bucket" target="_blank">About the project</a></li>
            </ul>
        </div>
        <div class="search">
            <input id="search" type="text" @keydown.enter="search()" placeholder="Search..."/>
            <button @click="search()">Search</button>
        </div>
        <!--<div class="control">
            <button @click="jump_source(-1)">Prev</button>
            <button @click="jump_source(1)">Next</button>
        </div>-->
    </header>
    <section v-if="Object.keys(apps).length" class="aui-scrollView">
        <div v-for="(app, name) of apps" :key="name">
            <div class="cc-title">
                <span style="cursor: pointer;" onclick="window.open('https://github.com/' + $(this).text());event.stopPropagation();event.cancelBubble = true;">{{ name }}</span>
                <!--<div class="control">
                    <button @click="jump_page(-1, name)">Prev</button>
                    <button @click="jump_page(1, name)">Next</button>
                </div>-->
            </div>
            <div class="aui-app-box" style="display: flex;justify-content: space-around;flex-wrap: wrap;">
                <!-- 默认展示每个源中随机54个软件 -->
                <div v-for="(info,k) in $('#search').attr('placeholder') != 'Search...'?app:randomilize(app).splice(0, 52)" v-if="!!info" :key="k" class="aui-app-flex-box box-line">
                    <div class="aui-app-flex ">
                        <div class="aui-app-flex-bd">
                            <h2>
                                <a :href="info[0].match(/\(.*?\)/)[0].substr(1, info[0].match(/\(.*?\)/)[0].length - 2)" target="_blank"
                                   :title="info[0].match(/\[.*?\]/)[0].substr(1, info[0].match(/\[.*?\]/)[0].length - 2)">
                                    {{ info[0].match(/\[.*?\]/)[0].substr(1, info[0].match(/\[.*?\]/)[0].length - 2) }}
                                </a>
                                <!--<em>最新</em>-->
                            </h2>
                            <p>
                                <span>
                                    <a :href="(link = (info[1].match(/\(.*?\)/) + '').substr(1, (info[1].match(/\(.*?\)/) + '').length - 2)) == 'ul'?'javascript:;':link">
                                        {{ (info[1].match(/(\[.*?\]|\*.*?\*)/) + '').substr(1, (info[1].match(/(\[.*?\]|\*.*?\*)/) + '').indexOf(',') - 2) || info[1] || '' }}
                                    </a>
                                    &nbsp;
                                </span>
                                <span :title="info[3] || ''">
                                    <a :href="(p = (info[3].match(/\(.*?\)/) + '').substr(1, (info[3].match(/\(.*?\)/) + '').length -2 )) != 'ul'?p:'javascript:;'">
                                        {{ (p = (info[3].match(/\[.*?\]/) + '').substr(1, (info[3].match(/\[.*?\]/) + '').length - 2)) != 'ul'?p:info[3] || '' }}
                                    </a>
                                </span>
                            </p>
                        </div>
                        <div class="aui-app-flex-fr" style="cursor: pointer;" @click="install(info[0], name)">Install
                        </div>
                    </div>
                    <div class="aui-app-flex-text">
                        <a :href="info[0].match(/\(.*?\)/)[0].substr(1, info[0].match(/\(.*?\)/)[0].length - 2)" target="_blank">
                            <p>{{ info[2] || 'No description.' }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section v-else class="aui-scrollView" style="text-align: center;line-height: calc(100vh /2);">
        <span style="color: white;text-shadow: 0px 0px 8px grey;">No result, Hit enter to continue</span>
        <div v-if="$('#search').attr('placeholder') == 'Search...'" id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_four"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_one"></div>
                </div>
            </div>
        </div>
        <script>
            let loading_hint = 0;
            setInterval(function () {
                if (loading_hint ++ > 5) loading_hint = 1;
                $('#loading').prev().text('Searching for software sources, please be patient' + '.'.repeat(loading_hint));
            }, 250);
        </script>
    </section>
</section>

</body>
<script>
    new Vue({
        el: "#container",
        data: {
            apps: {}
        },
        methods: {
            search() {
                if (!window.app_list) {
                    layer.msg('No data can be retrieved');
                    $('.aui-title-coll').css('transform', 'unset');
                    return false;
                }
                let keyword = $('#search').val();
                if (!keyword) {location.reload();return false}
                else {
                    keyword = keyword.trim();
                }
                $('#search').val('');
                $('#search').attr('placeholder', keyword);
                let result = {};
                for (name of Object.keys(this.apps)) {
                    Vue.delete(this.apps, name);
                }
                for (source of Object.keys(window.app_list)) {
                    if (keyword == source.substr(0, source.indexOf('/'))) { // 搜索指定作者
                        result[source] = window.app_list[source];
                    }else {
                        window.app_list[source].forEach(function (v, k) {
                            if (v[0].match(/\[.*?\]/)[0].indexOf(keyword) > -1) {
                                if (!result[source]) result[source] = [];
                                result[source][k] = window.app_list[source][k];
                            }
                        });
                    }
                }
                // console.log(result);
                this.apps = result;
            },
            jump_page(page, source) {
                console.log(source);
            },
            jump_source(page) {

            },
            install(name, source) {
                let official = ['ScoopInstaller/Main','lukesampson/scoop-extras'];
                let add_source_code = official.indexOf(source) == -1?`scoop bucket add ${source.replace('/', '_')} https://github.com/${source}\n\n`:'';
                layer.alert(`<textarea id="code" style="width: 100%;height: 90%;resize: none;border: none;overflow: hidden;overflow-y: auto; cursor: default;" readonly>${add_source_code}scoop install ${name.match(/\[.*?\]/)[0].substr(1, name.match(/\[.*?\]/)[0].length - 2)}\n</textarea>`, {
                    title: false,
                    closeBtn: false,
                    btn: ['Copy', 'Cancel'],
                    area: ['35vw', '30vh'],
                    yes() {
                        $('#code').select();
                        document.execCommand('copy');
                        layer.closeAll();
                        layer.msg('Please paste and execute on the command line');
                    },
                    success() {
                        $('#code').select();
                    },
                    shadeClose: true
                });
            }
        },
        created() {
            getAppList().then(res => {
                window.app_list = JSON.parse(JSON.stringify(res));
                let resources = Object.keys(res);
                let page = resources.splice(Math.floor(Math.random() * resources.length - 1), 2);

                resources.forEach(function (v) {
                    delete res[v];
                });
                this.apps = res;
            }).catch(e => {
                layer.alert('Something went wrong, please tell me via email? <br> You can also send me feedback in the upper left corner', {
                    title: false,
                    closeBtn: false,
                    btn: ['Yes', 'No'],
                    end() {
                        layer.msg('You can check some support in the upper left corner');
                    }
                }, function () {
                    layer.closeAll();
                    window.open('mailto:1434389213@qq.com?subject=From%20scoop%20apps%20-%20&body=' + encodeURIComponent( 'I am using Scoop Apps, I have a problem, please help me. \n\n' + e + '\n\n'));
                });
            });
        }
    });

    $(document).on('click', '.cc-title', function () {
        $(this).next('.aui-app-box').toggleClass('fold');
    });

    // 回到顶部
    $(function () {
        $('.aui-scrollView').scroll(function () {
            if ($('.aui-scrollView').scrollTop() >= 100) {
                $('.actGotop').fadeIn(300);
            } else {
                $('.actGotop').fadeOut(300);
            }
        });
        $('.actGotop').click(function () {
            $('.aui-scrollView').animate({scrollTop: '0px'}, 500);
        });
        $(document).keydown(function (event) {
            if (event.ctrlKey || event.shiftKey || event.altKey) return true;
            if (event.keyCode == 32) {
                $('.actGotop').click();
                return false;
            }else if(event.keyCode != 40 && event.keyCode != 38) {
                $('#search').focus();
            }
        });
    });
</script>

<!-- 背景开始 -->
<script src="resource/js/dat.gui.min.js"></script>
<script src="resource/js/bg_index.js"></script>
<!-- 背景结束 -->

<!-- 翻译开始 -->
<div id='google_translate_element' style='position: fixed; bottom: 0px; right: 0px;z-index: 100'></div>
<script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {
                // pageLanguage: 'zh-CN',
                // 需要翻译的语言，比如你只需要翻译成越南和英语，这里就只写en,vi
                includedLanguages: 'en,zh-CN,hr,cs,da,nl,fr,de,el,iw,hu,ga,it,ja,ko,pt,ro,ru,sr,es,th,vi',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                // 自动显示翻译横幅，就是翻译后顶部出现的那个
                autoDisplay: true,
                // 还有些其他参数，由于原插件不再维护，找不到详细api了，将就了，实在不行直接上dom操作
            },
            'google_translate_element' // 存放翻译组件元素的id
        );
    }
</script>
<script src="https://translate.google.cn/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- 翻译结束 -->
</html>