<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="windows-pageckage-manager,scoop,windows,installer,package-manager">
    <meta name="description" content="scoop software package find">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <link rel="icon" href="https://avatars0.githubusercontent.com/u/43713756">
    <title>Scoop Apps</title>

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>-->

    <link rel="stylesheet" href="resource/css/style.css">
    <link rel="stylesheet" href="resource/css/bg_style.css">
    <script src="resource/js/helper.js"></script>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?9fc9fbaf6033e662ed8cbda0dba1c029";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<canvas id="c"></canvas>
<div class="actGotop"><img src="http://www.jq22.com/demo/jquery-top20161222/img/huojian.svg" alt="返回顶部小火箭"></div>

<section id="container" class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed">
        <div class="aui-center" style="margin-left: 3rem;">
            <span class="aui-center-title" style="cursor:pointer;" onclick="location.reload();">Eoogo</span>
            <ul class="aui-title-coll">
                <li><a href="https://github.com/eoogo/scoop-bucket/blob/master/README.md" target="_blank">Install scoop</a></li>
                <li><a href="https://scoop.sh" target="_blank">Official support</a></li>
                <li style="cursor: default">-----------------</li>
                <li><a href="https://github.com/eoogo" target="_blank">About</a></li>
                <li><a href="mailto:1434389213@qq.com?subject=From%20scoop%20apps%20-%20">Contact me</a></li>
            </ul>
        </div>
        <div class="search">
            <input id="search" type="text" @keydown.enter="search()" autofocus placeholder="Search..."/>
            <button @click="search()">Search</button>
        </div>
        <!--<div class="control">
            <button @click="jump_source(-1)">Prev</button>
            <button @click="jump_source(1)">Next</button>
        </div>-->
    </header>
    <section class="aui-scrollView">
        <div v-for="(app, name) of apps" :key="name">
            <div class="cc-title">
                <span style="cursor: pointer;" onclick="window.open('https://github.com/' + $(this).text());event.stopPropagation();event.cancelBubble = true;">{{ name }}</span>
                <!--<div class="control">
                    <button @click="jump_page(-1, name)">Prev</button>
                    <button @click="jump_page(1, name)">Next</button>
                </div>-->
            </div>
            <div class="aui-app-box" style="display: flex;justify-content: space-around;flex-wrap: wrap;">
                <div v-for="(info,k) in app" v-if="!!info" :key="k" class="aui-app-flex-box box-line">
                    <div class="aui-app-flex ">
                        <div class="aui-app-flex-bd">
                            <h2>
                                <a :href="info[0].match(/\(.*?\)/)[0].substr(1, info[0].match(/\(.*?\)/)[0].length - 2)" target="_blank"
                                   :title="info[0].match(/\[.*?\]/)[0].substr(1, info[0].match(/\[.*?\]/)[0].length - 2)">
                                    {{ info[0].match(/\[.*?\]/)[0].substr(1, info[0].match(/\[.*?\]/)[0].length - 2) }}
                                </a>
                                <!--<em>最新</em>-->
                            </h2>
                            <p>
                                <span>
                                    <a :href="(link = (info[1].match(/\(.*?\)/) + '').substr(1, (info[1].match(/\(.*?\)/) + '').length - 2)) == 'ul'?'javascript:;':link">
                                        {{ (info[1].match(/(\[.*?\]|\*.*?\*)/) + '').substr(1, (info[1].match(/(\[.*?\]|\*.*?\*)/) + '').indexOf(',') - 2) || info[1] || '' }}
                                    </a>
                                    &nbsp;
                                </span>
                                <span :title="info[3] || ''">
                                    <a :href="(p = (info[3].match(/\(.*?\)/) + '').substr(1, (info[3].match(/\(.*?\)/) + '').length -2 )) != 'ul'?p:'javascript:;'">
                                        {{ (p = (info[3].match(/\[.*?\]/) + '').substr(1, (info[3].match(/\[.*?\]/) + '').length - 2)) != 'ul'?p:info[3] || '' }}
                                    </a>
                                </span>
                            </p>
                        </div>
                        <div class="aui-app-flex-fr" style="cursor: pointer;" @click="install(info[0], name)">Install
                        </div>
                    </div>
                    <div class="aui-app-flex-text">
                        <a :href="info[0].match(/\(.*?\)/)[0].substr(1, info[0].match(/\(.*?\)/)[0].length - 2)">
                            <p>{{ info[2] || 'No description.' }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

</body>
<script>
    new Vue({
        el: "#container",
        data: {
            apps: {}
        },
        methods: {
            search() {
                let keyword = $('#search').val();
                $('#search').val('');
                let result = {};
                for (name of Object.keys(this.apps)) {
                    Vue.delete(this.apps, name);
                }
                for (source of Object.keys(window.app_list)) {
                    window.app_list[source].forEach(function (v, k) {
                        if (v[0].indexOf(keyword) != -1) {
                            if (!result[source]) result[source] = [];
                            result[source][k] = window.app_list[source][k];
                        }
                    });
                }
                // console.log(result);
                this.apps = result;
            },
            jump_page(page, source) {
                console.log(source);
            },
            jump_source(page) {

            },
            install(name, source) {
                layer.alert(`<textarea id="code" style="width: 100%;height: 90%;resize: none;border: none;overflow: hidden;overflow-y: auto; cursor: default;" readonly>scoop bucket add ${source.replace('/', '_')} https://github.com/${source}

scoop install ${name.match(/\[.*?\]/)[0].substr(1, name.match(/\[.*?\]/)[0].length - 2)}
</textarea>`, {
                    title: false,
                    closeBtn: false,
                    btn: ['Copy', 'Cancel'],
                    area: ['35vw', '30vh'],
                    yes() {
                        $('#code').select();
                        document.execCommand('copy');
                        layer.closeAll();
                        layer.msg('Please paste and execute on the command line');
                    },
                    success() {
                        $('#code').select();
                    },
                    shadeClose: true
                });
            }
        },
        created() {
            getAppList().then(res => {
                window.app_list = JSON.parse(JSON.stringify(res));
                let resources = Object.keys(res);
                let page = resources.splice(Math.floor(Math.random() * resources.length - 1), 2);

                resources.forEach(function (v) {
                    delete res[v];
                });
                this.apps = res;
            }).catch(e => {
                layer.msg('暂时无法使用：' + e.message);
            });
        }
    });

    $(document).on('click', '.cc-title', function () {
        $(this).next('.aui-app-box').toggleClass('fold');
    });

    // 回到顶部
    $(function () {
        $('.aui-scrollView').scroll(function () {
            if ($('.aui-scrollView').scrollTop() >= 100) {
                $('.actGotop').fadeIn(300);
            } else {
                $('.actGotop').fadeOut(300);
            }
        });
        $('.actGotop').click(function () {
            $('.aui-scrollView').animate({scrollTop: '0px'}, 500);
        });
        $(document).keydown(function (event) {
            if (event.keyCode == 32) {
                $('.actGotop').click();
            }
        });
    });
</script>

<!-- 背景开始 -->
<script src="resource/js/dat.gui.min.js"></script>
<script src="resource/js/bg_index.js"></script>
<!-- 背景结束 -->

<!-- 翻译开始 -->
<div id='google_translate_element' style='position: fixed; bottom: 0px; right: 0px;z-index: 100'></div>
<script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {
                // pageLanguage: 'zh-CN',
                // 需要翻译的语言，比如你只需要翻译成越南和英语，这里就只写en,vi
                includedLanguages: 'en,zh-CN,hr,cs,da,nl,fr,de,el,iw,hu,ga,it,ja,ko,pt,ro,ru,sr,es,th,vi',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                // 自动显示翻译横幅，就是翻译后顶部出现的那个
                autoDisplay: true,
                // 还有些其他参数，由于原插件不再维护，找不到详细api了，将就了，实在不行直接上dom操作
            },
            'google_translate_element' // 存放翻译组件元素的id
        );
    }
</script>
<script src="https://translate.google.cn/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- 翻译结束 -->
</html>